* {
    background-color: skyblue;
}

.head {
    background-color: grey;
    text-align: center;
    height: 150px;
}

.head h1 {
    background-color: transparent;
    align-items: center;
}

.head p {
    background-color: transparent;
    justify-content: center;
    font-size: 10px;
}

.cont_list li {
    display: flex;
    align-items: center;
    gap: 10px;
}